.DS_store
.project
.cproject
build
*.so
MonetDBLite_*.t*

# Windows generated sedscript file
src/embedded/windows/sedscript

# MonetDBJavaLite
monetdb-java-lite/target/
monetdb-java-lite/.gradle/
monetdb-java-lite/src/main/resources/
monetdb-java-lite/hs_err_*

# IDE stuff
.idea/
cmake-build-debug/
CMakeLists.txt

# The decrypted files!
monetdb-java-lite/gradle.properties
monetdb-java-lite/secring.gpg
id_monetdb
